*{ margin: 0px; }
body{
    background-image: url("bg.jpg");
    background-size: 100vw;
    background-position: top;
}

/* Toolbar items*/
#header{
    text-align: center;
    color: white;
    background: rgba(200,30,30,.8);
    font-size: 60px;
    font-weight: bold;
    width: 50%;
    left: 25%;
    padding: 10px 0px 10px 0px;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
#toolbar{
    background: rgba(0,0,0,0.2);
    height: 150px;
    width: 100%;
    top: 0px;
    position: fixed;
}
.toolbarDiv{
    background: rgba(200,30,30,.9);
    width: 240px;
    margin: 5px;
    top: 20px;
    margin-right: 100vw;
    float: left;
    position: relative;
    border-radius: 15px;
}
.toolOptionsLabel{
    color: white;
    width: 90px;
    float: left;
    margin-left: 10px;
}
.toolOptions{
    float: left;
    margin-top: 5px;
    position: relative;
    top: 0px;
}
select{
    background: rgb(250,250,250);
    border: 1px solid transparent;
    margin-right: 3px;
    border-radius: 5px;
}

/* Practice corner */
#practiceDiv{
    background-color: rgba(0,0,0,0.5);
    height: 90%;
    width: 23%;
    max-width: 200px;
    top: 1%;
    left: 77%;
    float: right;
    position: absolute;
    border-radius: 15px;
    padding: 5px;
}
.pDisplay{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
#practiceDiv input{
    border-radius: 5px;
    float: left;
}
#startButton{
    float: left;
    background-color: limegreen;
    font-size: 20px;
    padding: 5px;
    font: serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
#practiceTime{
    width: 40px;
    font-size: 20px;
}


/* main graphic items */
#main{
    background: rgba(0,0,0,0);
    width: 100%;
    height: calc(100vh - 200px);
    top: 150px;
    position: fixed;
}
#neck{
    background-color: #855E42;
    position: relative;
    left: 1%;
    margin-top: 50px;
    width: 98%;
    height: 300px;

}
.fret{
    font-size: 20px;
    height: calc(100% - 12px);
    margin: 0px;
    float: left;
    padding-top: 12px;
    border-right-color: rgb(160,150,150);
    border-right-width: 5px;
    border-right-style: solid;
}
.fretMarker{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;

}

.string{
    width: 100%;
    margin-top: 1px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    color: black;
    padding: 0px;
}

.inKey{
    background: rgba(0,255,50,0.7);
}
.outKey{
    background: rgba(255,0,0,0.4);
}
